/* This is the style for horizontal navigation. */
//
$nav-bgcolor: #002730;
$nav-font-color: rgba(255, 255, 255, 0.8);
$nav-font-size: 2rem;
$nav-font-family: Arial Georgia;

.nav-link {
  color: $nav-font-color;
  font-size: $nav-font-size;
  font-family: $nav-font-family;
}

nav.nav-hori {
  background-color: $nav-bgcolor;
  border-radius: 0.4rem;
  padding-top: 0.2rem;
}

nav.nav-hori ul li {
  display: inline-block;
  margin: 0 1rem;
}

nav.nav-hori ul {
  margin: 0;
  padding: 0.7rem;
}

nav.nav-hori a {
  display: inline-block;
  text-decoration: none;
}

nav li.float-left {
  float: left;
}

nav li.float-right {
  float: right;
}