<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>操盘小能手</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <div id="content">
        <div id="modal-bg"></div>
        <!-- modal login -->
        <div id="modal-login">
            <form action="#">
                <div class="modal-logo">操盘手</div>
                <div>
                    <label class="modal-label" for="username">用户名</label>
                    <br>
                    <input class="input-text focus-light" type="text" id="username">
                </div>
                <div>
                    <label class="modal-label" for="password">密码</label>
                    <br>
                    <input class="input-text focus-light" type="password" id="password">
                </div>
                <a id="cancel-login" class="btn-normal btn-10rem" href="#">取消</a>
                <button id="confirm-login" class="btn btn-10rem" type="submit">登录</button>
            </form>
        </div>
        <nav class="nav-hori">
                <ul>
                    <li class="float-left">
                        <a class="nav-link" href="index.html">主页</a>
                    </li>
                    <li class="float-right">
                        <a class="nav-link" href="#">注册</a>
                    </li>
                    <li class="float-right">
                        <a id="btnLogin" class="nav-link" href="#">登录</a>
                    </li>
                    <div class="stop-float"></div>
                </ul>
            </nav>
        <header>
            <h1>操盘小能手 - 开发者信息</h1>
            <p>这是一个免费的股票计算器网站，马上算算今天赚了多少吧！</p>
            <hr>
        </header>

        <section class="about">
            <p>我们是来自云南大学的三位本科生，这个博客网站是我们学习Web开发的一个练手项目，希望你能喜欢。</p>
            <p>如果你对Blog++有什么建议或意见，可以通过
                <span class="text-primary">QQ:2654525303</span>联系我们。</p>
            <p>
                <a href="https://github.com/Rabbit-A512">我的GitHub</a>
            </p>
        </section>

        <footer>
            <hr>
            <p>
                <a href="about.html">关于我们</a>
            </p>
            <p>友情链接</p>
            <ul>
                <li>
                    <a href="http://commonmark.org/" target="_blank">CommonMark</a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a>
                </li>
                <li>
                    <a href="https://github.com/" target="_blank">GitHub</a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="../scripts/modal.js"></script>
</body>

</html>