<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>操盘小能手</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>
    <div id="content">
        <div id="modal-bg"></div>
        <!-- modal login -->
        <div id="modal-login">
            <form action="#">
                <div class="modal-logo">操盘手</div>
                <div>
                    <label class="modal-label" for="username">用户名</label>
                    <br>
                    <input class="input-text focus-light" type="text" id="username">
                </div>
                <div>
                    <label class="modal-label" for="password">密码</label>
                    <br>
                    <input class="input-text focus-light" type="password" id="password">
                </div>
                <a id="cancel-login" class="btn-normal btn-10rem" href="#">取消</a>
                <button id="confirm-login" class="btn btn-10rem" type="submit">登录</button>
            </form>
        </div>
        <div id="modal-signup">
            <form action="#">
                <div class="modal-logo">操盘手</div>
                <div>
                    <label class="modal-label" for="username">用户名</label>
                    <br>
                    <input class="input-text focus-light" type="text" id="username">
                </div>
                <div>
                    <label class="modal-label" for="password">密码</label>
                    <br>
                    <input class="input-text focus-light" type="password" id="password">
                </div>
                <div>
                    <label class="modal-label" for="password">确认密码</label>
                    <br>
                    <input class="input-text focus-light" type="password" id="password2">
                </div>
                <a id="cancel-signup" class="btn-normal btn-10rem" href="#">取消</a>
                <button id="confirm-signup" class="btn btn-10rem" type="submit">注册</button>
            </form>
        </div>
        <nav class="nav-hori">
            <ul>
                <li class="float-left">
                    <a class="nav-link" href="index.html">主页</a>
                </li>
                <li class="float-right">
                    <a id="btnSignup" class="nav-link" href="#">注册</a>
                </li>
                <li class="float-right">
                    <a id="btnLogin" class="nav-link" href="#">登录</a>
                </li>
                <div class="stop-float"></div>
            </ul>
        </nav>
        <header class="text-2rem">
            <h1>操盘小能手 - 开发者信息</h1>
            <p>这是一个免费的股票计算器网站，马上算算今天赚了多少吧！</p>
            <hr>
        </header>

        <section class="about text-2rem">
            <p>我是来自云南大学的一位本科生，这个网站是我为广大股民提供的免费服务，希望你能喜欢。</p>
            <p>如果你对股票小能手有什么建议或意见，可以联系我。</p>
            <p>QQ: 981295188</p>
            <p>微信: cuppar</p>
            <p>Email: cuppar.hzy@gmail.com</p>
            <p>Github: <a href="https://github.com/cuppar/" target="_blank">我的GitHub</a></p>
            <p>祝好运！</p>
        </section>

        <footer>
            <hr>
            <p class="text-2rem">友情链接</p>
            <ul class="text-2rem">
                <li>
                    <a href="http://cuppar.com/" target="_blank">我的博客</a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a>
                </li>
                <li>
                    <a href="https://github.com/cuppar/" target="_blank">我的GitHub</a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="../scripts/modal.js"></script>
</body>

</html>