<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blog++ 记录每一天!</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <div id="content">
        <div id="modal-bg"></div>
        <!-- modal login -->
        <div id="modal-login">
            <form action="../scripts/form.py" method="POST">
                <div class="modal-logo">Blog++</div>
                <div>
                    <label class="modal-label" for="username">用户名</label>
                    <br>
                    <input class="input-text focus-light" type="text" id="username">
                </div>
                <div>
                    <label class="modal-label" for="password">密码</label>
                    <br>
                    <input class="input-text focus-light" type="password" id="password">
                </div>
                <a id="cancel-login" class="btn-normal btn-10rem" href="#">取消</a>
                <button id="confirm-login" class="btn btn-10rem" type="submit">登录</button>
            </form>
        </div>
        <nav class="nav-hori">
            <ul>
                <li class="float-left">
                    <a class="nav-link" href="#">主页</a>
                </li>
                <li class="float-right">
                    <a id="btnLogin" class="nav-link" href="about.html">关于</a>
                </li>
                <li class="float-right">
                    <a class="nav-link" href="#">注册</a>
                </li>
                <li class="float-right">
                    <a id="btnLogin" class="nav-link" href="#">登录</a>
                </li>
                <div class="stop-float"></div>
            </ul>
        </nav>
        <header>
            <p style="text-align: center; font-size: 4rem;">操盘之神</p>
            <hr>
        </header>
        <main>
            <div class="float-left width-30pre padding-5rem">
                <div>
                    <label class="modal-label" for="stock-price">股价</label>
                    <br>
                    <input id="stock-price" class="input-text focus-light" type="number">
                </div>
                <div>
                    <label class="modal-label" for="stock-num">股数</label>
                    <br>
                    <input id="stock-num" class="input-text focus-light" type="number">
                </div>
                <div>
                    <label class="modal-label" for="sell-price">股数</label>
                    <br>
                    <input id="sell-price" class="input-text focus-light" type="number">
                </div>
                <a id="compute" class="btn btn-20rem" href="#">计算</a>
            </div>

            <div class="float-left width-70pre padding-5rem">
                <p id="stock-message" class="stock-output-label">---------- 信息 ----------</p>
                <p></p>
                <p id="message" class="stock-output-label">---------- 上税 ----------</p>

                <p id="message" class="stock-output-label">---------- 保底 ----------</p>

                <p id="message" class="stock-output-label">---------- 盈利 ----------</p>


            </div>
            <div class="stop-float"></div>
        </main>
        <footer>
            <hr>
            <p>友情链接</p>
            <ul>
                <li>
                    <a href="http://cuppar.com/" target="_blank">我的博客</a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a>
                </li>
                <li>
                    <a href="https://github.com/cuppar" target="_blank">GitHub</a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="../scripts/modal.js"></script>
</body>

</html>