<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Blog++ 个人资料</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
    <div id="content">
        <div id="modal-bg"></div>
        <!-- modal login -->
        <div id="modal-login">
            <form action="#">
                <div class="modal-logo">Blog++</div>
                <div>
                    <label class="modal-label" for="username">用户名</label>
                    <br>
                    <input class="input-text focus-light" type="text" id="username">
                </div>
                <div>
                    <label class="modal-label" for="password">密码</label>
                    <br>
                    <input class="input-text focus-light" type="password" id="password">
                </div>
                <a id="cancel-login" class="btn-normal btn-10rem" href="#">取消</a>
                <button id="confirm-login" class="btn btn-10rem" type="submit">登录</button>
            </form>
        </div>
        <nav class="nav-hori">
            <ul>
                <li class="float-left">
                    <a class="nav-link" href="index.html">主页</a>
                </li>
                <li class="float-right">
                    <a class="nav-link" href="help.html">帮助</a>
                </li>
                <li class="float-right">
                    <a class="nav-link" href="#">注册</a>
                </li>
                <li class="float-right">
                    <a id="btnLogin" class="nav-link" href="#">登录</a>
                </li>
                <li class="float-right">
                    <a class="nav-link" href="personal-page.html">个人资料</a>
                </li>
                <div class="stop-float"></div>
            </ul>
        </nav>

        <header>
            <h1>个人资料</h1>
            <hr>
        </header>

        <section class="profile">
            <img src="../images/portrait.png">
            <div>
                <span class="profile-key">昵称：</span>
                <span>不再犹豫</span>
                <br>
                <span class="profile-key">签名：</span>
                <span>假期和朋友是人生中最精彩的两样东西。</span>
            </div>

        </section>

        <section class="trends">
            <ul>
                <li>
                    <a href="#" class="active">Ta的评论</a>
                </li>
                <li>
                    <a href="#">Ta的文章</a>
                </li>
            </ul>
            <div class="panels">
                <div class="active-panel">评论</div>
                <div>文章</div>
            </div>
        </section>

        <div class="stop-float"></div>

        <aside></aside>

        <footer>
            <hr>
            <p>
                <a href="about.html">关于我们</a>
            </p>
            <p>友情链接</p>
            <ul>
                <li>
                    <a href="http://commonmark.org/" target="_blank">CommonMark</a>
                </li>
                <li>
                    <a href="https://developer.mozilla.org/zh-CN/" target="_blank">MDN Web 文档</a>
                </li>
                <li>
                    <a href="https://github.com/" target="_blank">GitHub</a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="../scripts/modal.js"></script>
    <script src="../scripts/activate-tab.js"></script>
</body>

</html>